<div class="blog-container">
    <h1>The Link Valuation Algorithm</h1>

    <h2>Factors (in order of importance)</h2>
    <ol>
    	<li>Page Traffic</li>
    	<li>Site Traffic Traffic</li>
    	<li>Page Traffic</li>
    </ol>

    <h2>Page Traffic</h2>
    <p>Link insertions on pages with existing traffic receive the most points, regardless of DR or site traffic.  Get a lot of points quickly by offering a link on a page with traffic</p>
	    <ol>
	    	<li>< 100 - 1x</li>
	    	<li>< 500 - 5x</li>
	    	<li>< 1500 - 10x</li>
	    </ol>
    <h2>Site Traffic</h2>
    <p>A site that has 250,000 visitors a month is worth more than a site with 10,000 visitors, all other things being equal.</p>

    <h2>Human Written Content</h2>
    <p>With the proliferation of AI content, we reward sites that are using human beings to write content.  This demonstrates a commitment to quality content, which in turn is reflected in the value of the link.  If you do not check "Human Written" it is assumed the content is AI-assisted or AI-edited.</p>

    <h2>New Content</h2>
    <p>By checking this, you are indicating that the link will be inserted into new content.</p>


</div>
