  <header id="header" class="header fixed-top d-flex align-items-center">
<app-chat [visible]="true" [hidden]="false"></app-chat>
    <div class="d-flex align-items-center justify-content-between">
      <a href="index.html" class="logo d-flex align-items-center">
        <img src="assets/img/logo.png" alt="">
        <span class="d-none d-lg-block">{{dataService.getProductName()}}</span>
      </a>
      <i (click)="handleSidebarClick()" class="bi bi-list toggle-sidebar-btn"></i>
    </div>

<!--     <div class="search-bar">
      <form class="search-form d-flex align-items-center" method="POST" action="#">
        <input type="text" name="query" placeholder="Search" title="Enter search keyword">
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
      </form>

    </div> --><!-- End Search Bar -->
<div class="search-bar">
  <a routerLink="/main/forum" style="padding:3px;">
    <span class="badge bg-info text-dark d-inline-flex align-items-center">
      <i class="material-icons">forum</i>
      <span class="ms-2">Community Forum</span>
    </span>
  </a>

  <a (click)="onChatButtonClick($event)"  href="#" style="padding:3px;">
    <span class="badge bg-success d-inline-flex align-items-center">
      <i class="material-icons">chat_bubble</i>
      <span class="ms-2">Support Chat</span>
    </span>
  </a>

    <span joyrideStep="fourthStep" title="See Your Points" text="See how many points you have available here" style="margin:3px;" class="badge bg-warning d-inline-flex align-items-center">
      <i class="material-icons">star</i>
      <span class="ms-2">{{pointsBalance}}</span>
    </span>
  
      <span joyrideStep="fourthStep" title="See Your Points" text="See how many points you have available here" style="margin:3px;" class="badge text-dark d-inline-flex align-items-center">
      <i class="material-icons">access_time</i>
      <span class="ms-2">{{Countdown}}</span>
      </span>

<!--     <span style="margin:3px;" class="badge bg-info d-inline-flex align-items-center">
      <i class="material-icons">account_balance_wallet</i>
      <span class="ms-2">{{cashBalance | currency }}</span>
    </span>   -->
</div>

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li><!-- End Search Icon-->


        <li class="nav-item dropdown">

          <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
            <i class="bi bi-bell"></i>
            <span class="badge bg-primary badge-number">{{notifications}}</span>
          </a><!-- End Notification Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
            <li class="dropdown-header">
              You have {{notifications}} new notifications
              <a routerLink="/main/notifications"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <ng-container *ngFor="let notification of notificationsAr">
              <notification-bell [title]="notification.title" [icon]="notification.icon" [time]="notification.time" [notification]="notification.notification" [refDocId]="notification.ref_doc_id" [path]="notification.path"></notification-bell>
            </ng-container>

            <li class="dropdown-footer">
              <a routerLink="/main/notifications">Show all notifications</a>
            </li>

          </ul><!-- End Notification Dropdown Items -->

        </li><!-- End Notification Nav -->

        <li class="nav-item dropdown">

          <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
            <i class="bi bi-chat-left-text"></i>
            <span class="badge bg-success badge-number">{{messagesCount}}</span>
          </a><!-- End Messages Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages">
            <li class="dropdown-header">
              You have {{messagesCount}} new messages
              <a routerLink="/main/messages"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <ng-container *ngFor="let message of messagesAr">
              <message-item [from]="message.from" [time]="message.time" [message]="message.message"></message-item>
            </ng-container>

            <li class="dropdown-footer">
              <a routerLink="/main/messages">Show all messages</a>
            </li>

          </ul><!-- End Messages Dropdown Items -->

        </li><!-- End Messages Nav -->

        <app-profile-pic></app-profile-pic>

      </ul>
    </nav><!-- End Icons Navigation -->

  </header>